body {
    background-image: url('../img/classy_fabric.png');
}

.top {
    width: 100%;
    background-color: #1A1A1A;
}

.main {
    width: 100%;
    padding-top: 10px;
}

.container {
    margin: 0 auto;
    min-width: 980px;
    max-width: 1280px;
    padding: 0px 10px;
}