.avatar_small {
    height: 25px;
    width: 25px;
}

.header {
    height: 35px;
    padding: 0px 5px;
    position: relative;

    .logo {
        float: left;
        padding: 5px 5px 5px 0px;
        font-size: 20px;
        color: #a9bd38;
        text-shadow: 1px 1px black;
    }

    .notifications {
        @include base();

        position: absolute;
        display: none;
        background-color: #111;
        border-radius: 3px;
        top: 40px;
        left: 117px;
        color: #FFF;
        font-size: 12px;
        font-weight: 300;
        padding: 5px;
        z-index: 1000;

        .notification {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .main_nav {
        float: left;

        li {
            margin: 5px 5px 0px 5px;
        }
    }

    .account {
        float: right;
        padding-top: 4px;
        height: 31px;

        li {
            margin-left: 10px;

            a {
                color: #FFF;
                vertical-align: middle;
            }
        }
    }
}