.game {
    overflow: auto;
    padding: 15px 0px;
    margin: 10px 0px;
    text-align: center;
    border-radius: 3px;
    background-color: #333;

    img {
        vertical-align: text-bottom;
    }

    .divider {
        @include base();

        padding: 5px 0px;
        color: #FFF;
    }

    .left_players {
        float: left;
        width: 160px;
    }

    .middle {
        float: left;

        .time {
            @include base();
            color: #A9BD38;
        }

        .versus {
            @include base();
            width: 75px;
            font-size: 23px;
            padding: 7px 0px;
            color: #8A241B;
            text-shadow: 0 1px rgba(34, 25, 25, 0.8);
        }
    }

    .right_players {
        float: left;
        width: 160px;
    }
}

.game.singles {

    .player {
        margin-top: 8px;
    }

    .versus {
        padding: 0px;
    }
}

.creator > .doubles {

    .middle {
        padding-top: 35px;
    }
}

.creator > .singles {
    display: none;

    .left_players, .right_players {
        margin-top: 17px;
    }

    .middle {
        padding-top: 5px;
    }
}

.create_game {
    @include panel();

    .inner {
        display: inline-block;
        margin: 0 auto;
    }

    .options {
        margin-bottom: 5px;

        li {
            @include base();

            padding: 3px 6px;
            border-radius: 3px;
            background-color: #A9BD38;
            margin-right: 5px;
            color: #FFF;
            text-shadow: 0 -1px rgba(34, 25, 25, 0.3);
            font-weight: 600;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .error {
        @include base();

        text-align: left;
        color: #8A241B;
        padding: 10px 0px;
    }

    .creator {
        overflow: auto;

        .divider {
            padding: 15px 0px;
        }

        .left_players {
            width: auto;
        }

        .middle {
            margin: 0px 25px;

            .time {

                input {
                    font-size: 20px;
                    width: 30px;
                }

                select {
                    @include base();

                    font-size: 30px;
                }
            }

            .versus {
                width: auto;
                font-size: 45px;
            }
        }

        .right_players {
            width: auto;
        }
    }

    .actions {
        text-align: left;
        padding: 15px 0px 0px 0px;

        input {
            border: none;
            outline: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.game_lobby {
    @include panel();

    .lobby {
        display: inline-block;
        margin: 0 auto;
        overflow: auto;
        margin-bottom: 15px;

        .divider {
            padding: 15px 0px;
        }

        .left_score, .right_score {
            float: left;
            font-size: 50px;
            margin-top: 35px;

            input {
                font-size: 45px;
                width: 60px;
            }
        }

        .left_score {
            margin-right: 30px;
        }

        .left_players {
            width: auto;
        }

        .middle {
            padding-top: 35px;
            margin: 0px 25px;

            .versus {
                width: auto;
                font-size: 45px;
            }
        }

        .right_players {
            width: auto;
        }

        .right_score {
            margin-left: 30px;
        }
    }

    .finalize {
        margin-bottom: 15px;
    }

    .chat {
        background-color: #111;
        border-radius: 3px;

        .messages {
            overflow: auto;
            padding: 10px;
            height: 350px;
            text-align: left;
            border-radius: 3px;
        }

        .message_input {
            border-top: 1px solid #EEE;

            input {
                display: block;
                background-color: #111;
                border: none;
                margin: 0px;
                padding: 10px 10px;
                color: #FFF;
                font-size: 20px;
                width: 600px;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.message {
    @include base();

    padding: 5px 0px;
    color: #EEE;

    .username {
        color: #4F87C8;
        padding-right: 10px;

        &:after {
            content: ":";
        }
    }
}