/*
*
* Gradient
*
*/

@mixin gradient($top, $bot, $image:"None") {
    background-color: $bot;
    background-image: url($image);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top), to($bot));
    background-image: -webkit-linear-gradient(top, $top, $bot);
    background-image: -moz-linear-gradient(top, $top, $bot);
    background-image: -ms-linear-gradient(top, $top, $bot);
    background-image: -o-linear-gradient(top, $top, $bot);
}

/*
*
* Base Type
*
*/

@mixin base() {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #999;
}

/*
*
* Base Mixins
*
*/

@mixin panel() {
    background-color: #222;
    border-radius: 3px;
    padding: 10px 10px 20px 10px;
}

.primary {
    @include gradient(#8A241B, #70231C);
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    color: #FFF;
    text-shadow: 0 -1px rgba(34, 25, 25, 0.3);
    font-weight: 600;

    &.big {
        font-size: 25px;
    }
}

.horiz-list {
    overflow: auto;

    li {
        float: left;
    }
}

a, h2, th, td {
    @include base();
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 5px;
}

h2 {
    font-size: 19px;
    color: #4F87C8;
}

a {
    text-decoration: none;
}
